<div class="course-info-container">
  <div class="course-header">
    <p class="course-title">Course Code</p>
    <p class="course-value">BA3102</p>
  </div>
  <div class="course-detail">
    <p class="course-title">Course Name</p>
    <p class="course-value">Quantitative Techniques</p>
  </div>
  <div class="course-detail">
    <p class="course-title">Course Type</p>
    <p class="course-value">Program Elective</p>
  </div>
  <div class="course-detail">
    <p class="course-title">Course Period</p>
    <p class="course-value">Semester - I</p>
  </div>
  <div class="course-detail">
    <p class="course-title">Credits (4)</p>
    <p class="course-value">
      <span>Lecture - 3</span><br />
      <span>Tutorial - 0</span><br />
      <span>Practical - 1</span><br />
      <span>Project - 0</span>
    </p>
  </div>
  <div class="course-detail">
    <p class="course-title">Course Outcomes (COs)</p>
    <div class="outcomes">
      <span class="outcome">C02</span>
      <span class="outcome">C04</span>
      <span class="outcome">C05</span>
      <span class="outcome">C07</span>
      <span class="outcome">C013</span>
      <span class="outcome">C014</span>
    </div>
  </div>
  <div class="course-detail">
    <p class="course-title">Mapped to this Course</p>
    <div class="mapped-outcomes">
      <span class="outcome">P07</span>
      <span class="outcome">P010</span>
      <span class="outcome">P012</span>
      <span class="outcome">P08</span>
    </div>
  </div>
</div>
